@media (max-width:  576px) {
  .products h2{
    font-size: 25px;
  }
 .pro-top ul li button{
    margin: 0px 8px;
    font-size: 10px ;
  }
.main-first .text h2{
  font-weight: 600;
  font-size: 25px;
  margin: 10px 0px;
   }
  .main-first .text .p2{
  font-weight: 400;
  font-size: 16px;
  }
  .main-first button{
    padding: 12px 30px;
    margin-top: 30px;
  }
  #drinks{
    padding: 20px 0;
  }
}


@media (min-width: 577px) and (max-width: 768px){
    .deal-section .sobji{
      padding: 20px 70px 80px 80px;
    }
    .deal-section .sobji-cnt{
      padding: 80px 0;
    }
    .main-first .text h2{
      font-weight: 600;
      font-size: 30px;
      margin: 10px 0px;
       }
      .main-first .text .p2{
      font-weight: 400;
      font-size: 18px;
      }
      .main-first button{
        padding: 12px 30px;
        margin-top: 30px;
      }
      #drinks{
        padding: 50px 0;
      }
      #feedback .cd{
        margin-bottom: 20px !important;
      }
}


@media (min-width: 767px) and (max-width: 992px) {
    .main-first .text{
        width: 100%;
    }
    .main-first .text p{
        font-weight: 400;
      font-size: 18px;
       }
       .main-first .text h2{
      font-weight: 600;
      font-size: 32px;
      margin: 10px 0px;
       }
      .main-first .text .p2{
      font-weight: 400;
      font-size: 16px;
      }
      .main-first button{
        padding: 12px 30px;
        margin-top: 30px;
      }
      .features .sec{
        border-right: 1px solid var(--branding-success-bright);
        border-bottom: 1px solid var(--branding-success-bright);
      }
      .features .sec:nth-child(2){
        border-right: none;
      }
      .features .sec:nth-child(3){
        border-bottom: none;
      }
      .products .pro-top ul li button{
        margin: 0px 10px ;
      }

      .smBan2 .sm-ban .sm-ban-cnt {
        position: absolute;
        top: 35px;
        left: 23%;
    }

    .deal-section .sobji-cnt h3{
    font-size: 35px;
    text-align: center;
    }
    
    .deal-section .sobji{
      padding: 20px 70px 80px 80px;
    }
    .deal-section .sobji-cnt{
      padding: 80px 0;
    }
    #drinks{
      padding: 50px 0;
    }
    
  }
  @media (max-width:  1199px){

  }