/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* my code */
.slick-prev, .slick-next {
    background:  #84d18793 !important;
    border: none;
    color: #28a745;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;       
  }
  
  .slick-prev {
    left: -35px;           
    /* top: 40%;
    transform: translateY(-50%); */
}
  
  .slick-next {
    right: -35px;      
  }
  
  .slick-dots {
    text-align: center;    /* ডট সেন্টারে রাখুন */
    margin-top: 20px;      /* ডট স্লাইডার থেকে নিচে রাখুন */
    display: flex;         /* ফ্লেক্সবক্স ব্যবহার করে সেন্টার করুন */
    justify-content: center;
    background: none;      /* ব্যাকগ্রাউন্ড রিমুভ */
}

.slick-dots li {
    margin: 0 5px;         /* ডটের মধ্যে কিছু ফাঁক রাখুন */
}

.slick-dots li button {
    background: transparent; /* বাটনের ব্যাকগ্রাউন্ড রিমুভ করুন */
    border: none;            /* বাটনের বর্ডার রিমুভ করুন */
    padding: 0;
    cursor: pointer;
    font-size: 0;
}

.slick-dots li button:before {
    font-size: 25px;
    color: #7a8a7d;
    content: '●';   
    opacity: 0.5;   
}

.slick-dots li.slick-active button:before {
    color: #28a745;        /* অ্যাক্টিভ ডটের রঙ */
    opacity: 1;            /* অ্যাক্টিভ ডট সম্পূর্ণ দৃশ্যমান */
}
