
:root {
  --gren-gray-scale-900: #002603;
  --gren-gray-scale-800: #173b1a;
  --gren-gray-scale-700: #2b572e;
  --gren-gray-scale-600: #406b42;
  --gren-gray-scale-500: #618062;
  --gren-gray-scale-400: #7a997c;
  --gren-gray-scale-300: #96b297;
  --gren-gray-scale-200: #b4ccb4;
  --gren-gray-scale-100: #dae5da;
  --gren-gray-scale-50: #edf2ee;
  --gray-scale-gray-–-900: #1a1a1a;
  --gray-scale-gray-–-800: #333;
  --gray-scale-gray-–-700: #4d4d4d;
  --gray-scale-gray-–-600: #666;
  --gray-scale-gray-–-500: #808080;
  --gray-scale-gray-–-400: #999;
  --gray-scale-gray-–-300: #b3b3b3;
  --gray-scale-gray-–-200: #ccc;
  --gray-scale-gray-–-100: #e6e6e6;
  --gray-scale-gray-–-50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
  --font-family : "Poppins", "arial"
}
/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
main {
  background: var(--gray-scale-white);
}
#top-sec {
  padding: 48px 10px;
  width: 100%;
  background: linear-gradient(95deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%), url("../images/pageBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#top-sec .quicklink a {
  display: inline-block;
  margin: 16px;
  transition: 0.2s;
  color: var(--gray-scale-gray-–-100);
}
#top-sec .quicklink a::after {
  content: '>';
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #363738;
  font-size: 20px;
}
#top-sec .quicklink a:last-child::after {
  content: '';
  width: 0;
}
#top-sec .quicklink a:active,
#top-sec .quicklink a:hover,
#top-sec .quicklink a:focus,
#top-sec .quicklink a:last-child {
  color: var(--branding-error) !important;
}

.form .name {
  display: flex !important;
  justify-content: space-between;
}

.manage h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900) !important;
  margin: 10px 0;
}
.manage ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-300) !important;
  margin-left: 35px;
}
.manage ul li a:hover {
  color: var(--branding-error) !important ;
}
.submit button:last-child {
  border-radius: 4px;
  margin-top: 16px;
  transition: 0.3s;
}
.submit button:hover,
.submit button:active,
.submit button:focus {
  background: var(--gray-scale-gray-–-400);
  color: var(--gray-scale-gray-–-50);
}

/* profile section styling */
#profile {
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
  background: var(--gray-scale-white);
  padding: 40px 80px;
  margin-bottom: 100px;
}

#profile h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--branding-error);
}
#profile .form label {
  font-weight: 400;
  font-size: 16px !important;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}
#profile .form input {
  /* padding: 10px 0; */
}
#profile .form .name,
#profile .form .email {
  margin: 16px 0 18px;
}

#profile #password input,
#profile .form input {
  width: 100%;
  margin-bottom: 16px;
  padding: 13px 16px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background: var(--gray-scale-gray-–-50);
  overflow: auto;
}
#profile #password input:hover,
#profile #password input:focus,
#profile #password input:active,
#profile .form input {
  border: none;
  outline: none;
}
#profile #password input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  opacity: 0.4;
}
.submit a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  vertical-align: middle;
}
.submit a:hover {
  color: var(--branding-error) !important;
}
.submit button {
  border-radius: 4px;
  padding: 16px 48px;
  background: var(--branding-error);
  color: var(--bg);
  border: none;
  outline: none;
  margin-top: 0 !important;
}
