  
  #top-sec{
    background-color: #f4f4f4;
    padding: 48px 0;
    width: 100%;
    background: linear-gradient(95deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%), url("../images/pageBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  #top-sec a::after{
    content: ">";
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  #top-sec a:last-child::after{
    content: "";
    width: 0;
  }
  #top-sec a.active{
    color: #00B207;
  }
  .signup-container , .register-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    }

.signup-container .login , .register-container .registration { 
    width: 520px;
    margin-top: 80px;
    border: 1px solid var(--gray-scale-gray-–-50);
    border-radius: 8px;
    padding: 24px 24px 32px 24px;
    box-shadow: 0 0 56px 0 rgba(0, 38, 3, 0.08);
    background: var(--gray-scale-white);

}
.register-container{
    display: none;
}

.signup-container h2 , .register-container h2 {
        font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: var(--gray-scale-gray-–-900);
    margin-bottom: 20px;
}

.signup-container form , .register-container form {
    display: flex;
    flex-direction: column;
}
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.pass {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    line-height: 235%;
}

#button[type="submit"] {
    margin-top: 20px;
    border-radius: 43px;
    padding: 14px 32px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    background:#00B207;
    color: var(--gray-scale-white);
    border: 1px solid transparent;
}

#button[type="submit"]:hover, #button[type="submit"]:focus , #button[type="submit"]:active {
    background:white;
    color: #00B207;
    border: 1px solid #00B207;
}